{
    "extends": ["airbnb", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "jsx-a11y/anchor-is-valid": 0,
        "import/no-cycle": 0,
        "no-console": "off",
        "prettier/prettier": ["error"]
    }
}